@page
@using CourseBook.Utility
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}



<link rel="stylesheet" href="~/edumark-master/css/style.css">
<div class="main-content py-5">
    <!-- Header -->
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                @if (User.IsInRole(SD.Role_Admin))
                {

                    <h1 class="pt-4 justify-content-center"> ADMIN PORTAL</h1>
                }
                else
                {
                    <h1 class="pt-4 justify-content-center "></h1>
                }
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-7" style="border: 2px solid #ccc; box-shadow: 0px 0px 10px #ccc; padding: 15px;">
                <div class="card border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-4">Sign up with</div>
                        <div class="text-center">
                            <a href="#" class="btn btn-neutral btn-icon mr-4">
                                <span class="btn-inner--icon"><img src="~/argon-dashboard-master/assets/img/icons/common/github.svg"></span>
                                <span class="btn-inner--text">Github</span>
                            </a>
                            <a href="#" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon"><img src="~/argon-dashboard-master/assets/img/icons/common/google.svg"></span>
                                <span class="btn-inner--text">Google</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center mb-4">
                            Or sign up with credentials
                        </div>
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <h2 class="justify-content-center">Create a new account.</h2>
                            <hr />
                            <div class="form-group row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating py-2 col-6">
                                    <input asp-for="Input.Name" class="form-control" aria-required="true" />
                                    <label asp-for="Input.Name"></label>
                                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                                </div>
                                <div class="form-floating py-2 col-6">
                                    <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
                                    <label asp-for="Input.PhoneNumber"></label>
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-floating py-2 col-6">
                                    <input asp-for="Input.StreetAddress" class="form-control" aria-required="true" />
                                    <label asp-for="Input.StreetAddress"></label>
                                    <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                                </div>
                                <div class="form-floating py-2 col-6">
                                    <input asp-for="Input.City" class="form-control" aria-required="true" />
                                    <label asp-for="Input.City"></label>
                                    <span asp-validation-for="Input.City" class="text-danger"></span>
                                </div>
                                <div class="form-floating py-2 col-6">
                                    <input asp-for="Input.State" class="form-control" aria-required="true" />
                                    <label asp-for="Input.State"></label>
                                    <span asp-validation-for="Input.State" class="text-danger"></span>
                                </div>
                                <div class="form-floating py-2 col-6">
                                    <input asp-for="Input.PostalCode" class="form-control" aria-required="true" />
                                    <label asp-for="Input.PostalCode"></label>
                                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                                </div>
                                <div class="form-floating py-2 col-6">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <label asp-for="Input.Password"></label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class=" form-floating py-2 col-6">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                @if (User.IsInRole(SD.Role_Admin))
                                {
                                    <div class="form-floating py-2 col-6" >
                                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class=form-select style="border: 1px solid #ccc; border-radius: 8px;">
                                            <option  disabled selected>-Select Role-</option>
                                        </select>

                                    </div>
                                    <div class="form-floating py-2 col-6">
                                        <select asp-for="Input.CompanyId" style="border: 1px solid #ccc; border-radius: 8px; display:none;" asp-items="@Model.Input.CompanyList" class=form-select>
                                            <option disabled selected>-Select Company-</option>
                                        </select>

                                    </div>
                                }
                            </div>
                            <div class="text-center">
                                <button id="registerSubmit" type="submit" class="btn btn-primary mt-4" style="width: 200px; height: 50px;">Create account</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
                @if (!User.IsInRole(SD.Role_Admin))
            {
                <div class="col-md-5 ">
                    <section class="card" style=" box-shadow: 0px 1px 2px #ccc; padding: 15px;">
                        <h3>Use another service to register.</h3>
                        <hr />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                            article
                                            about setting up this ASP.NET application to support logging in via external services
                                        </a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
            </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#Input_Role').change(function () {
                var selection = $('#Input_Role Option:Selected').text();
                if (selection != 'Company') {
                    $('#Input_CompanyId').hide();
                }
                else {
                    $('#Input_CompanyId').show();
                }
            })
        })
    </script>
}